@import url(https://fonts.googleapis.com/css?family=Roboto:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);*{
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;

}

body{
    background: linear-gradient(120deg, #9FB4C7, #e9ecef);
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}